<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <title>Update a User</title>
</head>

<body>

<div class="container">

    <h3>UPDATE DONATION'S INFORMATION</h3>
    <hr>
    <form action="#" th:object="${donation}" method="POST">
        <div class="div row">
            <input type="hidden" name="id" th:field="*{id}"/>

            <div class="col-6">
                <div class="form-group">
                    <label for="donationCode" class="col-form-label">Donation Code:</label>
                    <input type="text" name="donationCode" th:field="*{donationCode}" class="form-control"
                           id="donationCode">
                    <p id="errorDonationCode" style="display:none"></p>
                </div>

                <div class="form-group">
                    <label for="startDate" class="col-form-label">Start Date:</label>
                    <input type="date" name="startDate" th:field="*{startDate}" class="form-control" id="startDate">
                    <p id="errorStartDate" style="display:none"></p>
                </div>

                <div class="form-group">
                    <label for="endDate" class="col-form-label">End Date:</label>
                    <input type="date" name="endDate" th:field="*{endDate}" class="form-control" id="endDate">
                    <p id="errorEndDate" style="display:none"></p>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="organizationName" class="col-form-label">Organization Name:</label>
                    <input type="text" name="organizationName" th:field="*{organizationName}" class="form-control"
                           id="organizationName">
                    <p id="errorOrganizationName" style="display:none"></p>
                </div>

                <div class="form-group">
                    <label for="donationName" class="col-form-label">Donation Name:</label>
                    <input type="text" name="donationName" th:field="*{donationName}" class="form-control"
                           id="donationName">
                    <p id="errorDonationName" style="display:none"></p>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="col-form-label">Phone
                        Number:</label>
                    <input type="text" name="phoneNumber" th:field="*{phoneNumber}" class="form-control"
                           id="phoneNumber">
                    <p id="errorPhoneNumber" style="display:none"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="donationDescription" class="col-form-label">Donation
                        Description:</label>
                    <textarea name="donationDescription"
                              id="donationDescription"
                              th:field="*{donationDescription}"
                              style="height:200px;width:100%;"></textarea>
                    <p id="errorDonationDescription" style="display:none"></p>
                </div>
            </div>
        </div>
        <button type="button" id="donationUpdateBtn" class="btn btn-info col-2">Save</button>
    </form>

    <hr>
    <a th:href="@{/donations/list}">Back to Donation List</a>

</div>

<!--BT JS-->
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!--MAIN JS-->
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>

</html>







